@model ThetaRamadan2020.Models.PurchasedItems

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>PurchasedItems</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="ItemCategory" class="control-label"></label>
                <select asp-for="ItemCategory" class ="form-control" asp-items="ViewBag.ItemCategory"></select>
            </div>
            <div class="form-group">
                <label asp-for="Item" class="control-label"></label>
                <select asp-for="Item" class ="form-control" asp-items="ViewBag.Item"></select>
            </div>
            <div class="form-group">
                <label asp-for="ItemCount" class="control-label"></label>
                <input asp-for="ItemCount" class="form-control" />
                <span asp-validation-for="ItemCount" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PurchasedDate" class="control-label"></label>
                <input asp-for="PurchasedDate" class="form-control" />
                <span asp-validation-for="PurchasedDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PerItemPrice" class="control-label"></label>
                <input asp-for="PerItemPrice" class="form-control" />
                <span asp-validation-for="PerItemPrice" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
